/* =================
    COMMON STYLES
==================== */

* {
    box-sizing: border-box;
}
.body {
    font-family: 'Times New Roman', Times, serif;
}
.container {
    height: 100%;
    width: 100%;
    max-width: 1185px;
    margin: auto;
}
.social-bar {
    display: flex;

    a {
        margin: 0 5px;
    }
}
.title {
    font-size: 38px;
    text-transform: uppercase;
}
.primary-title {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
.btn {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    background-color: #e7a331;
    border: none;
    border-radius: 4px;
    padding: 15px 40px;
    transition: .2s ease-out;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
    }
}
.paragraph {
    font-size: 15px;
    color: #4a4a4a;
    padding: 10px 10px 10px 0;
}

/* ===================
    HOME SECTION
===================== */

.section-home {
    overflow: hidden;

    .primary-header {
        height: 35px;
        background-color: #fff;
        display: flex;
        justify-content: flex-end;

        .logo {
            z-index: 2;
            position: absolute;
            top: 0;
            left: 2vw;

            .triangle {
                width: 0; 
                height: 0; 
                border-left: 210px solid transparent;
                border-right: 210px solid transparent;
                border-top: 205px solid #e7a331;
                position: relative;
                
                img {
                    position: absolute;
                    top: -190px;
                    right: -85px;
                }
            }
        }
        .primary-header-content {
            height: 100%;
            width: 60%;
            display: flex;
            justify-content: space-between;

            .info {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                &-item {
                    margin: 0 10px;
                    display: flex;

                    img {
                        margin-right: 5px;
                    }
                }
            }
            .primary-header-social-bar {
                width: 25%;
                align-items: center;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .home-content {
        height: calc(100vh - 35px);
        background: url(./images/home-banner.jpg) no-repeat;
        background-size: cover;

        .nav-bar {
            z-index: 1;
            height: 90px;
            background-color: rgba(0, 0, 0, .64);

            .nav-bar-content {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                .nav-menu {
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
    
                    .nav-menu-item,
                    .booking-btn {
                        margin: 0 10px;
                        font-family: 'Roboto', sans-serif;
                        font-size: 17px;
                    }
                    .nav-menu-item {
                        & > a {
                            color: #fff;
                            text-decoration: none;
                            font-family: 'Roboto', sans-serif;
                            transition: color .2s ease-in-out;
                        }
                        &:hover > a,
                        &-active > a {
                            color: #e7a331;
                        }
                    }
                    .booking-btn {
                        text-transform: capitalize;
                        color: #e7a331;
                        background-color: transparent;
                        border: 1px solid #fff;
                        border-radius: 4px;
                        padding: 15px 20px;
                        transition: background-color .2s ease-in-out;
    
                        &:hover {
                            background-color: #fff;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }
                .burger-menu {
                    display: none;
                }
            }
        }
        .main-banner {
            padding: 120px 10px;
            text-align: center;

            .home-content-title {
                color: #fff;
                font-size: 106px;
                text-shadow: 2px 2px 5px #000;
            }
            .home-content-text {
                max-width: 900px;
                margin: 60px auto 40px;
                color: #fff;
                font-size: 25px;
            }
            .home-main-btn {
                text-transform: capitalize;
                color: #fff;
                font-size: 20px;
                background-color: transparent;
                border: 2px solid #fff;
                border-radius: 4px;
                padding: 13px 30px;
                font-family: 'Times New Roman', Times, serif;
                transition: background-color .3s ease-in-out;
                transition: .3s ease-in-out;

                &:hover {
                    background-color: #fff;
                    color: #e7a331;
                    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    .section-home .primary-header .logo {
        left: 15%;
    }
}
@media (max-width: 1400px) {
    .section-home .primary-header .primary-header-content .primary-header-social-bar {
        width: 30%;
    }
}
@media (max-width: 1100px) {
    .section-home .primary-header .primary-header-content .primary-header-social-bar {
        width: 35%;
    }
}
@media (max-width: 1060px) {
    .section-home .primary-header {
        .logo .triangle {
            border-top-width: 155px;
            border-left-width: 155px;
            border-right-width: 155px;
    
            img {
                top: -135px;
                right: -55px;
                width: 115px;
            }
        }
        .primary-header-content {
            width: 60%;
    
            .primary-header-social-bar {
                width: 40%;
            }
        }
    }
}
@media (max-width: 970px) {
    .section-home .primary-header .primary-header-content .info {
        width: 55%;
    }
}
@media (max-width: 900px) {
    .section-home .primary-header {
        height: 55px;

        .primary-header-content {
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
    
            .info {
                width: 100%;
                justify-content: flex-start;
                flex-flow: row-reverse;
            }
            .primary-header-social-bar {
                width: 100%;
                justify-content: flex-end;
            }
        }
    }
}
@media (max-width: 860px) {
    .section-home .home-content .nav-bar {
        .nav-bar-content {
            transition: .2s ease-out;
            position: relative;
    
            .nav-menu {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 90px;
                right: -100%;
                flex-flow: column;
                width: 50%;
                height: auto;
                background-color: rgb(0, 0, 0);
                transition: .3s ease-out;
    
                .nav-menu-item {
                    width: 100%;
                    text-align: center;
                    transition: .2s ease-in;
    
                    &:hover {
                        cursor: pointer;
                        background-color: rgba(255, 255, 255, .2);
                    }
                }
                .nav-menu-item,
                .booking-btn {
                    margin: 0;
                    padding: 20px 0;
                }
                .booking-btn {
                    margin: 20px 0;
                    padding: 10px 20px;
                }
            }
            .burger-menu {
                display: flex;
                justify-content: center;
                width: 50px;
                height: 50px;
                margin-right: 10px;
                position: relative;
        
                .burger-menu-line {
                    display: block;
                    top: calc(50% - 3px);
                    transition: all .2s ease-in-out;
        
                    &-top,
                    &-middle,
                    &-bottom {
                        position: absolute;
                        height: 3px;
                        width: 40px;
                        background-color: #fff;
                    }
                    &-top,
                    &-bottom {
                        content: "";
                    }
                    &-top {
                        transform: translateY(-12px);
                    }
                    &-bottom {
                        transform: translateY(12px);
                    }
                }
                &-active {
                    .burger-menu-line {
                        &-middle {
                            transform: translateX(50px);
                            background-color: transparent;
                        }
                        &-top {
                            top: 0;
                            transform: rotate(45deg) translate(16px, 16px);
                        }
                        &-bottom {
                            top: 0;
                            transform: rotate(-45deg) translate(-16px, 16px);
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &-open .nav-bar-content {
            background-color: rgb(0, 0, 0);

            .nav-menu {
                visibility: visible;
                opacity: 1;
                right: 0;
            }
        }
    }
}
@media (max-width: 640px) {
    .section-home {
        .primary-header {
            .logo .triangle {
                border-left-width: 105px;
                border-right-width: 105px;
                border-top-width: 105px;
        
                img {
                    top: -100px;
                    right: -48px;
                    width: 98px;
                }
            }
        }
        .home-content .nav-bar { 
            height: 55px;

            .nav-bar-content .nav-menu {
                top: 55px;
                width: 100%;
            }
        }
    }
}
@media (max-width: 520px) {
    .section-home .primary-header .logo .triangle {
        border: none;
        width: 100px;
        height: 55px;
        position: absolute;
        top: 55px;

        img {
            top: 5px;
            left: 2px;
            height: 45px;
        }
    }
}
@media (max-width: 310px) {
    .section-home .primary-header .primary-header-content {
        .info {
            flex-flow: column;
        }
        .primary-header-social-bar {
            justify-content: center;
        }
    }
}
@media (min-height: 800px) {
    .section-home .home-content {
        height: 800px;
    }
}

/* ==================
    ABOUT SECTION
===================== */

.section-about {
    background: url(./images/about-section/about-background.jpg) no-repeat;
    background-size: cover;
    position: relative;

    &-content {
        position: relative;
        z-index: 2;
        display: flex;
        padding: 115px 0 175px;

        .restaurant-photos {
            position: relative;
            margin: 15px 60px 0 50px;
    
            .photo-container {
                width: 350px;
                height: 290px;
                border: 10px solid #fff;
                box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.75);
    
                img {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
                &:nth-child(1) {
                    position: relative;
                    z-index: 2;
                }
                &:nth-child(2) {
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotate(-9deg) translate(-21px, -3px);
                }
            }
        }
        .about-description {
            .title {
                padding: 15px 0;
            }
            .btn {
                margin: 30px 0;
            }
        }
    }
    .parsley-image {
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

/* ==================
    ABOUT SECTION
===================== */

.section-recipes {
    background: url(./images/recipes-section/recipes-section-background.jpg) no-repeat;
    background-size: cover;
    position: relative;

    .section-recipes-content {
        padding: 130px 10px 185px;
        display: flex;
        align-items: center;
        justify-content: center;

        .section-recipes-description {
            z-index: 2;
            position: relative;
            width: 530px;
            height: 470px;
            padding: 50px 45px;
            background: url(./images/recipes-section/recipes-section-text-background.jpg) no-repeat;

            .title {
                padding: 15px 0 20px;
            }
            .btn {
                margin: 35px 0 0;
            }
        }
        .plates-image {
            z-index: 1;
            position: relative;
            left: -30px;
        }
    }
    .recipes-plate-image {
        z-index: 10;
        position: absolute;
        left: 0;
        bottom: -200px;
    }
}

/* ======================
    EXPERIENCE SECTION
========================= */

.section-experience {
    padding: 90px 10px 115px;
    position: relative;
    text-align: center;
    background: url(./images/experience-section/experience-background.jpg) no-repeat;
    background-size: cover;

    .title {
        padding-top: 15px;
    }
    .dishes {
        padding: 65px 10px 0;
        display: flex;
        flex-flow: column;

        .row {
            display: flex;

            &:nth-child(1) {
                margin-bottom: 55px;
            }
            .dish {
                flex: 0 0 25%;
                position: relative;
                overflow: hidden;

                .dish-content > img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                .dish-overlay {
                    position: absolute;
                    top: -100px;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    visibility: hidden;
                    opacity: 0;
                    transition: .2s ease-out;

                    &-content {
                        height: 80%;
                        width: 90%;
                        background-color: rgba(0, 0, 0, .8);
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;

                        .dish-title {
                            text-transform: uppercase;
                            font-size: 22px;
                        }
                        .price {
                            font-size: 41px;
                            padding: 30px 0 25px;
                        }
                    }
                }
                &:hover .dish-overlay {
                    visibility: visible;
                    opacity: 1;
                    top: 0;
                }
            }
        }
    }
    .experience-plate-image {
        z-index: 10;
        position: absolute;
        bottom: -170px;
        right: 0;
    }    
}

/* ======================
    MENU SECTION
========================= */

.section-menu {
    background: url(./images/menu-section/menu-background.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 100px 10px 150px;
    position: relative;

    .title {
        padding: 15px 0;
    }
    .menu-container {
        color: #000;
        padding-top: 45px;

        .subsection {
            position: relative;
            width: 100%;
            height: 536px;

            &:not(:last-of-type) {
                margin-bottom: 65px;
            }
            .subsection-image {
                z-index: 1;
                position: absolute;
            }
            .pricing {
                z-index: 2;
                position: absolute;
                top: calc((100% - 460px)/2);
                background-color: #fff;
                width: 600px;
                height: 460px;
                padding: 40px 50px;
                text-align: left;

                .pricing-container {
                    padding-top: 40px;

                    .dish-price {
                        display: flex;
                        align-items: center;
                        padding-bottom: 10px;

                        &-container {
                            font-size: 18px;

                            p {
                                float: left;
                                white-space: nowrap;
                                overflow: hidden;
                                width: 395px;

                                &:after {
                                    content: "..........................................................................................................";
                                }
                            }
                            span {
                                float: right;
                                overflow: hidden;
                                width: 50px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(2n+1) {
                .subsection-image {
                    left: 0;
                }
                .pricing {
                    right: 0;
                }
            }
            &:nth-of-type(2n) {
                .subsection-image {
                    right: 0;
                }
                .pricing {
                    left: 0;
                }
            }
        }
    }
    .menu-parsley-image {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

/* ======================
    MENU SECTION
========================= */

.section-mobile-app {
    background: url(./images/mobile-app-section/mobile-app-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 10px 70px;

    &-container {
        display: flex;
        align-items: center;

        & > img {
            padding-left: 70px;
            width: 30%
        }
        .mobile-app-content {
            padding-left: 40px;
            color: #fff;

            h1, h3 {
                font-family: 'Times New Roman', Times, serif;
                text-transform: uppercase;
            }
            h1 {
                padding-top: 20px;
                font-size: 90px;
            }
            h3 {
                padding-top: 10px;
                font-size: 30px;
            }
            .buttons-container {
                padding-top: 50px;

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

/* ===============================
    FOOTER
================================== */

.footer {
    color: #fff;

    .primary-footer {
        padding: 60px 10px 30px;
        background: url(./images/footer/footer-background.jpg) no-repeat;
        background-size: cover;
        position: relative;

        &-container {
            width: 100%;
            display: flex;

            .col-1-3 {
                flex: 0 0 33.333%;
                text-align: center;
    
                &:first-of-type {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    padding-bottom: 30px;

                    .footer-address {
                        padding-bottom: 25px;
                    }
                    .social-bar {
                        margin: 0 auto;
                    }
                }
                &:nth-of-type(2n) > .working-hours-container {
                    height: 100%;
                    padding-top: 70px;

                    & > div {
                        font-size: 15px;
                        padding: 10px 0;

                        .days {
                            padding-bottom: 25px;
                            font-weight: bold;
                        }
                        p {
                            line-height: 18px;
                        }
                    }
                }
                .feedback-form {
                    display: flex;
                    flex-flow: column;
                    padding-top: 20px;

                    input,
                    textarea,
                    button {
                        padding: 15px 20px;
                        margin: 5px 0;
                    }
                    input,
                    textarea {
                        border-radius: 5px;
                        border: none;
                        background-color: #323232;
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 15px;
                        color: #fff;
                    }
                    textarea {
                        resize: none;

                        &::-webkit-scrollbar {
                            width: 5px;
                        }
                        &::-webkit-scrollbar-track {
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                            border-radius: 5px 0 0 5px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: darkgrey;
                            outline: 1px solid slategrey;
                            border-radius: 0 5px 5px 0;
                        }
                    }
                    .btn {
                        max-width: 150px;
                    }
                }
            }
        }
        .left-footer-plate-img,
        .right-footer-plate-img {
            position: absolute;
            top: 25%;
        }
        .left-footer-plate-img {
            left: 0;
        }
        .right-footer-plate-img {
            right: 0;
        }
    }
    .copyright {
        background-color: #0d0d0d;
        text-align: center;
        font-size: 15px;
        padding: 30px 0 20px;
    }
}